xsd/Sales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Sale"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation xml:lang="en">**Sale Document**	Sale document represents a single sale.</xs:documentation>
	</xs:annotation>

	<xs:element name="VDITransaction" >
		<xs:complexType>
			<xs:all>
				<xs:element name="Sales">
					<xs:complexType>
						<xs:sequence minOccurs="0"
						             maxOccurs="unbounded">
							<xs:element name="Sale"
							            type="Sale"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UserData"
				            type="UserData"
				            minOccurs="0"/>
			</xs:all>
		<xs:attribute name="VDIXMLVersion"
		              type="xs:positiveInteger"
		              use="required"/>
		<xs:attribute name="VDIXMLType"
		              type="xs:token"
		              use="required"/>
		<xs:attribute name="ProviderID"
		              type="ID"
		              use="required"/>
		<xs:attribute name="ApplicationID"
		              type="ID"
		              use="required"/>
		<xs:attribute name="ApplicationVersion"
		              type="xs:token"
		              use="required"/>
		<xs:attribute name="OperatorID"
		              type="xs:token"
		              use="required"/>
		<xs:attribute name="TransactionID"
		              type="xs:token"
		              use="required"/>
		<xs:attribute name="TransactionTime"
		              type="xs:dateTime"
		              use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="Sale">
		<xs:all>
			<xs:element name="Summary"
			            type="Summary"
			            minOccurs="1"
			            maxOccurs="1"/>
			<xs:element name="Items"
			            type="Items"
			            minOccurs="1"/>
			<xs:element name="Tenders"
			            type="Tenders"
			            minOccurs="1"/>
			<xs:element name="UserData"
			            type="UserData"
			            minOccurs="0"/>
		</xs:all>
		<xs:attribute name="MarketID"
		              type="xs:token"
		              use="required"/>
		<xs:attribute name="KioskID"
		              type="xs:token"/>
		<xs:attribute name="ConsumerID"
		              type="xs:token"/>
		<xs:attribute name="ConsumerName"
		              type="token128"/>
		<xs:attribute name="SaleID"
		              type="xs:token"
		              use="required"/>
		<xs:attribute name="SaleTime"
		              type="xs:dateTime"
		              use="required"/>
	</xs:complexType>
	
	<xs:complexType name="Summary">
		<xs:all>
			<xs:element name="Fees"
			            minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0"
					             maxOccurs="unbounded">
						<xs:element name="Fee">
							<xs:complexType>
								<xs:attribute name="ID"
								              type="xs:token"/>
								<xs:attribute name="Name"
								              type="xs:token"
								              use="required"/>
								<xs:attribute name="Count"
								              type="xs:integer"
								              use="required"/>
								<xs:attribute name="Total"
								              type="xs:decimal"
								              use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Total"
					              type="xs:decimal"
					              use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Taxes"
			            minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="Tax"
						            minOccurs="0">
							<xs:complexType>
								<xs:attribute name="ID"
								              type="ID" />
								<xs:attribute name="Name"
								              type="token128"
								              use="required"/>
								<xs:attribute name="Rate"
								              type="xs:decimal"
								              use="required"/>
								<xs:attribute name="Count"
								              type="xs:integer"
								              use="required"/>
								<xs:attribute name="Total"
								              type="xs:decimal"
								              use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Total"
					              type="xs:decimal"
					              use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="UserData"
			            type="UserData"
			            minOccurs="0"/>
		</xs:all>
		<xs:attribute name="Price"
		              type="xs:decimal"
		              use="required"/>
		<xs:attribute name="Discount"
		              type="xs:decimal"/>
		<xs:attribute name="Total"
		              type="xs:decimal"
		              use="required"/>
	</xs:complexType>
	
	<xs:complexType name="Items">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Item">
				<xs:complexType>
					<xs:all>
						<xs:element name="Fees"
						            type="Fees"
						            minOccurs="0"/>
						<xs:element name="Taxes"
									      type="Taxes"
						            minOccurs="0"/>
						<xs:element name="UserData"
						            type="UserData"
						            minOccurs="0"/>
					</xs:all>
					<xs:attribute name="ProductID"
					              type="token32"
					              use="required"/>
					<xs:attribute name="Code"
					              type="token32"/>
					<xs:attribute name="Quantity"
					              type="xs:positiveInteger"
					              use="required"/>
					<xs:attribute name="Cost"
					              type="xs:decimal"/>
					<xs:attribute name="Price"
					              type="xs:decimal"
					              use="required"/>
					<xs:attribute name="Discount"
					              type="xs:decimal"/>
					<xs:attribute name="Deposit"
					              type="xs:decimal"/>
					<xs:attribute name="Total"
					              type="xs:decimal"
					              use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Tenders">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Tender">
				<xs:complexType>
					<xs:choice maxOccurs="unbounded">
						<xs:element name="Bills"
									      type="Bills"
						            minOccurs="0"
                        maxOccurs="unbounded"/>
						<xs:element name="Coins"
									      type="Coins"
						            minOccurs="0"
                        maxOccurs="unbounded"/>
						<xs:element name="UserData"
						            type="UserData"
						            minOccurs="0"/>
					</xs:choice>
					<xs:attribute name="Type"
					              type="TenderType"
					              use="required"/>
					<xs:attribute name="Description"
					              type="string64"/>
					<xs:attribute name="Amount"
					              type="xs:decimal"
					              use="required"/>
					<xs:attribute name="Reference"
					              type="token128"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="UserData">
		<xs:all/>
		<xs:anyAttribute/>
	</xs:complexType>
	
	<xs:complexType name="Fees">
		<xs:sequence minOccurs="0"
		             maxOccurs="unbounded">
			<xs:element name="Fee">
				<xs:complexType>
					<xs:attribute name="ID"
					              type="ID" />
					<xs:attribute name="Name"
					              type="string64"
					              use="required"/>
					<xs:attribute name="Value"
					              type="xs:decimal"
					              use="required"/>
					<xs:attribute name="Count"
					              type="xs:integer"
					              use="required"/>
					<xs:attribute name="Total"
					              type="xs:decimal"
					              use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Total"
		              type="xs:decimal"
		              use="required"/>
	</xs:complexType>
	
	<xs:complexType name="Taxes">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Tax"
						minOccurs="0">
				<xs:complexType>
					<xs:attribute name="ID"
								  type="ID"/>
					<xs:attribute name="Name"
								  type="token128"
								  use="required"/>
					<xs:attribute name="Rate"
								  type="xs:decimal"
								  use="required"/>
					<xs:attribute name="Value"
								  type="xs:decimal"
								  use="required"/>
					<xs:attribute name="Count"
								  type="xs:integer"
								  use="required"/>
					<xs:attribute name="Total"
								  type="xs:decimal"
								  use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Total"
					  type="xs:decimal"
					  use="required"/>
	</xs:complexType>
	
	<xs:complexType name="Bills">
		<xs:sequence maxOccurs="unbounded"/>
		<xs:attributeGroup ref="BillOrCoinAttributeGroup"/>
	</xs:complexType>
	
	<xs:complexType name="Coins">
		<xs:sequence maxOccurs="unbounded"/>
		<xs:attributeGroup ref="BillOrCoinAttributeGroup"/>
	</xs:complexType>
	
	<!--public element end-->
	<!-- common element begin-->
	<xs:attributeGroup name="BillOrCoinAttributeGroup">
		<xs:attribute name="Direction"
		              type="CashDirection"
		              use="required"/>
		<xs:attribute name="Value"
		              type="xs:decimal"
		              use="required"/>
		<xs:attribute name="Count"
		              type="xs:integer"
		              use="required"/>
		<xs:attribute name="Amount"
		              type="xs:decimal"
		              use="required"/>
	</xs:attributeGroup>

	<xs:simpleType name="CashDirection">
		<xs:restriction base="xs:token">
			<xs:enumeration value="IN" />
			<xs:enumeration value="OUT" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="TenderType">
		<xs:restriction base="token32">
			<xs:enumeration value="CARD" />
			<xs:enumeration value="CASH" />
			<xs:enumeration value="EXTERNAL" />
			<xs:enumeration value="ACCOUNT" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ID">
		<xs:restriction base="xs:token">
			<xs:minLength value="1" />
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="string64">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="token32">
		<xs:restriction base="xs:token">
			<xs:minLength value="1" />
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="token128">
		<xs:restriction base="xs:token">
			<xs:minLength value="0" />
			<xs:maxLength value="128" />
		</xs:restriction>
	</xs:simpleType>
	<!-- common element end-->
</xs:schema>
